.error {
	color: red;
}
body {
	padding-top: 70px;
	background-color: #F5F5F5

}

.jumbotron {
	color: #2F4F4F;
	background: #FFFAF0;

}

.navbar-inverse {
	background: #2F4F4F;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F5F5F5;
}

.navbar-inverse .navbar-brand {
	color: #F5F5F5;
}

.navbar {
	overflow: hidden
}

.navbar a {
	float: left;
	display: block;
	text-align: center;
}


